{% load static %}

<!DOCTYPE html>
<html>
<script>
  var page_number=1;
</script>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

  <title>خانه هوش مصنوعی | بیماری مزمن کلیوی </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/function_persian.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <!-- java script function for calculate risk  -->
  <script src="{% static 'js/function_disease.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'mainpr'%}">
            <h3>
              خانه هوش مصنوعی
            </h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'mainpr'%}">خانه </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutpr_page'%}"> درباره ما </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'servicepr_page'%}"> خدمات <span class="sr-only">(current)</span> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ckd_page'%}"> زبان انگلیسی</a>
              </li>
            </ul>
            <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- ckd section -->

  <section class="ckdpr_section persian_disease_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col">
           <form id="post-ckd">{%csrf_token%}
            <h4>
              پیش بینی کننده بیماری مزمن کلیه
              <span class="design_dot"></span>
            </h4>
            <div class="form-row ">
              <div class="form-group col-lg-4">
                <label for="inputPatientAge">سن </label>
                <input type="number" class="form-control" id="inputPatientAge" name="inputPatientAge" placeholder="" step="1" onchange="this.value = Math.max(0, Math.min(120, parseInt(this.value)));">
              </div>

              <div class="form-group col-lg-4">
                <label for="inputPatientGender">جنسیت</label>
                <select name="inputPatientGender" class="form-control wide" id="inputPatientGender">
                  <option value=0>مرد</option>
                  <option value=1>زن </option>
                </select>
              </div>

              <div class="form-group col-lg-4">
                <br>
                <br>
                <label for="inputPatientAnemia" class="check-box">آیا کم خونی دارید؟</label>
                <input type="checkbox" id="inputPatientAnemia" name="inputPatientAnemia" value=1 class="control__indicator">
              </div>
            </div>
            <div class="form-row ">
              <div class="form-group col-lg-4">
                <br>
                <br>
                <label for="inputPatientDrugHistory" class="check-box">آیا سابقه مصرف داروی مرتبط را دارید ؟</label>
                <input type="checkbox" id="inputPatientDrugHistory" name="inputPatientDrugHistory" value="1" class="control__indicator">
              </div>

              <div class="form-group col-lg-4">
                <br>
                <br>
                <label for="inputPatientHypertension" class="check-box">آیا فشار خون بالا دارید؟</label>
                <input type="checkbox" id="inputPatientHypertension" name="inputPatientHypertension" value="1" class="control__indicator">
              </div>
      
              <div class="form-group col-lg-4">
                <br>
                <br>
                <label for="inputPationtHistoryCVD">آیا سابقه بیماری قلبی و عروقی دارید ؟ </label>
                <input type="checkbox" id="inputPationtHistoryCVD" name="inputPationtHistoryCVD" value="1" class="control__indicator">  
              </div>
            </div>

            <div class="form-row ">
              <div class="form-group col-lg-4">
                
                <label for="inputPationtHistoryCHF">آیا سابقه نارسایی احتقانی قلب دارید؟</label>
                <input type="checkbox" id="inputPationtHistoryCHF" name="inputPationtHistoryCHF" value="1" class="control__indicator">
              </div>
              <div class="form-group col-lg-4">
                <label for="inputPationtPVD">آیا بیماری عروق محیطی دارید؟</label>
                <input type="checkbox" id="inputPationtPVD" name="inputPationtPVD" value="1" class="control__indicator">
              </div>
              <div class="form-group col-lg-4">
                <label for="inputPationtProteinuria">آیا شما پروتئینوری دارید ؟</label>
                <input type="checkbox" id="inputPationtProteinuria" name="inputPationtProteinuria" value="1" class="control__indicator">
              </div>
            </div>

            <div class="form-row ">
              <div class="form-group col-lg-4">
                
                <label for="inputPationtDM">آیا دیابت دارید ؟</label>
                <input type="checkbox" id="inputPationtDM" name="inputPationtDM" value="1" class="control__indicator">
              </div>
              <div class="form-group col-lg-4">
                <label for="inputidnumber">کد ملی </label>
                <input type="number" class="form-control" id="inputidnumber" name="inputidnumber" placeholder="" step="1" onchange="this.value = Math.max(0, Math.min(9999999999, parseInt(this.value)));">
              </div>
            </div>

            <div class="btn-box">
              <button type="submit" class="btn " onclick="ckd_Results(page_number);">محاسبه ریسک</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end ckd section -->

  <!--  discription section -->
  <section class="section_discribe">
    <div class="discribe">
      <br>
      <br>
      <p class ="text_result" id="discribe_text"> </p>
    </div>
  </section>
  <!-- end discription section -->

<!-- service section -->

<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        دیگر خدمات ما
        <span class="design_dot"></span>
      </h2>
      <p>
        شما می توانید از خدمات دیگر ما استفاده کنید، کافی است روی آن ها کلیک کنید
      </p>
    </div>
    <div class="row">
      
      <div class="col-md-4 mx-auto">
        <div class="box">
          <a href="{% url 'cvdpr_page'%}">
            <img src="{% static 'images/s1.png' %}" alt="" />
            <br>
            پیش بینی بیماری قلبی و عروقی
          </a>
        </div>
      </div>

      <div class="col-md-4 mx-auto">
        <div class="box">
          <a href="{% url 'strokepr_page'%}">
            <img src="{% static 'images/s4.png' %}" alt="" />
            <br>
             پیش بینی سکته مغزی
          </a>
        </div>
      </div>

      <div class="col-md-4 mx-auto">
        <div class="box">
          <a href="{% url 'diabetespr_page'%}">
            <img src="{% static 'images/s2.png' %}" alt="" />
            <br>
            پیش بینی دیابت
          </a>
        </div>
      </div>
    </div>

    <div class="btn-box">
      <a href="{% url 'servicepr_page'%}">
        نمایش همه
      </a>
    </div>
  </div>
</section>

<!-- end service section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              لینک های سریع
            </h5>
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'mainpr'%}">خانه <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutpr_page'%}"> درباره ما </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'servicepr_page'%}"> خدمات </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ckd_page'%}"> زبان انگلیسی</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_course">
            <h5>
              خانه هوش مصنوعی
            </h5>
            <p>
              خانه هوش مصنوعی یکی از زیرمجموعه های صنعت الکترواپتیک ایران (صاپا) است که با هدف توسعه هوش مصنوعی فعالیت می کند

            </p>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
              برای هر گونه سوال، لطفا برای ما بنویسید
            </h5>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i> مکان: اصفهان، استان اصفهان، خیابان استاد فلاطوری، مرکز خرید پاسارگاد
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i> A.I.Tec.IRAN@gmail.com
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i> شماره تماس :34597406-031
              </a>
            </div>
            <form action="">
              <input type="text" placeholder="ایمیل خود را وارد کنید" />
              <button>
                ارسال
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="http://eclinichub.com/">AI TEC Company</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

</body>
<script type="text/javascript">
  $(document).on('submit','#post-ckd',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'create/',
      data:{
        inputidnumber:$('#inputidnumber').val(),
        inputPatientAge:$('#inputPatientAge').val(),
        inputPatientGender:$('#inputPatientGender').val(),
        
        inputPationtProteinuria:($("#inputPationtProteinuria:checked").prop("checked") == true ? 1 : 0),
        inputPatientAnemia:($("#inputPatientAnemia:checked").prop("checked") == true ? 1 : 0),
        inputPatientDrugHistory:($("#inputPatientDrugHistory:checked").prop("checked") == true ? 1 : 0),
        inputPatientHypertension:($("#inputPatientHypertension:checked").prop("checked") == true ? 1 : 0),
        inputPationtHistoryCVD:($("#inputPationtHistoryCVD:checked").prop("checked") == true ? 1 : 0),
        inputPationtHistoryCHF:($("#inputPationtHistoryCHF:checked").prop("checked") == true ? 1 : 0),
        inputPationtPVD:($("#inputPationtPVD:checked").prop("checked") == true ? 1 : 0),
        inputPationtDM:($("#inputPationtDM:checked").prop("checked") == true ? 1 : 0),

        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

      },
      success: function (){

      }
    });
  });

  
</script>
</html>