/*diabetes section*/
/* diabetes page check box */

  .diabetes_section .control {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
  }
  .diabetes_section .control input {
    position: relative;
    z-index: -1;
    opacity: 0;
  }
  .diabetes_section .control__indicator {
    position: relative;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
  }
  .diabetes_section .control:hover input ~ .control__indicator,
  .diabetes_section .control input:focus ~ .control__indicator {
    background: #ccc;
  }
  .diabetes_section .control input:checked ~ .control__indicator {
    background: #2aa1c0;
  }
  .diabetes_section .control:hover input:not([disabled]):checked ~ .control__indicator,
  .diabetes_section .control input:checked:focus ~ .control__indicator {
    background: #0e647d;
  }
  .diabetes_section .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .diabetes_section .control__indicator:after {
    content: '';
    position: relative;
    display: none;
  }
  .diabetes_section .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .diabetes_section .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .diabetes_section .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }

/* end of diabetes page check box */

.diabetes_section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(86, 188, 164, 0.55)), to(rgba(86, 188, 164, 0.55))), url(../images/diabetes.jpg);
    background-image: linear-gradient(to right, rgba(86, 188, 164, 0.55), rgba(86, 188, 164, 0.55)), url(../images/diabetes.jpg);
    background-size: cover;
    color: #000000;
  }
  
  .diabetes_section form {
    padding: 35px 45px;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  }
  
  .diabetes_section form h4 {
    font-weight: 600;
    position: relative;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .diabetes_section form h4 .design_dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #4bc5b8;
    margin-right: 5px;
  }
  
  .diabetes_section form label {
    color: #000000;
  }
  
  .diabetes_section form .form-control {
    width: 100%;
    background-color: transparent;
    border: none;
    background-color: #deece9;
    height: 45px;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px;
    padding: 0 15px;
    color: #000000;
  }
  
  .diabetes_section form .form-control::-webkit-input-placeholder {
    color: #000000;
  }
  
  .diabetes_section form .form-control:-ms-input-placeholder {
    color: #000000;
  }
  
  .diabetes_section form .form-control::-ms-input-placeholder {
    color: #000000;
  }
  
  .diabetes_section form .form-control::placeholder {
    color: #000000;
  }
  
  .diabetes_section form #inputDate {
    color: #56bca4;
  }
  
  .diabetes_section form #inputDate input {
    color: #000000;
  }
  
  .diabetes_section form button.btn {
    background-color: #35806e;
    color: #ffffff;
    padding: 10px 45px;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .diabetes_section .date_icon {
    right: 10px;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #56bca4;
  }
  
  .diabetes_section .nice-select {
    color: #000000 !important;
  }
  
  .diabetes_section .nice-select:after {
    content: "\f107";
    font-family: FontAwesome;
    border: none;
    width: auto;
    height: auto;
    -webkit-transform: none;
            transform: none;
    top: 7px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .diabetes_section .nice-select.open:after {
    content: "\f106";
  }

/*end diabetes section */

/*stroke section*/
/* stroke page check box */

.stroke_section .control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}
.stroke_section .control input {
  position: relative;
  z-index: -1;
  opacity: 0;
}
.stroke_section .control__indicator {
  position: relative;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.stroke_section .control:hover input ~ .control__indicator,
.stroke_section .control input:focus ~ .control__indicator {
  background: #ccc;
}
.stroke_section .control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.stroke_section .control:hover input:not([disabled]):checked ~ .control__indicator,
.stroke_section .control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.stroke_section .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.stroke_section .control__indicator:after {
  content: '';
  position: relative;
  display: none;
}
.stroke_section .control input:checked ~ .control__indicator:after {
  display: block;
}
.stroke_section .control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.stroke_section .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* end of stroke page check box */

.stroke_section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(86, 188, 164, 0.55)), to(rgba(86, 188, 164, 0.55))), url(../images/stroke.jpg);
  background-image: linear-gradient(to right, rgba(86, 188, 164, 0.55), rgba(86, 188, 164, 0.55)), url(../images/stroke.jpg);
  background-size: cover;
  color: #000000;
}

.stroke_section form {
  padding: 35px 45px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
}

.stroke_section form h4 {
  font-weight: 600;
  position: relative;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stroke_section form h4 .design_dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #4bc5b8;
  margin-right: 5px;
}

.stroke_section form label {
  color: #000000;
}

.stroke_section form .form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  background-color: #deece9;
  height: 45px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
  color: #000000;
}

.stroke_section form .form-control::-webkit-input-placeholder {
  color: #000000;
}

.stroke_section form .form-control:-ms-input-placeholder {
  color: #000000;
}

.stroke_section form .form-control::-ms-input-placeholder {
  color: #000000;
}

.stroke_section form .form-control::placeholder {
  color: #000000;
}

.stroke_section form #inputDate {
  color: #56bca4;
}

.stroke_section form #inputDate input {
  color: #000000;
}

.stroke_section form button.btn {
  background-color: #35806e;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.stroke_section .date_icon {
  right: 10px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #56bca4;
}

.stroke_section .nice-select {
  color: #000000 !important;
}

.stroke_section .nice-select:after {
  content: "\f107";
  font-family: FontAwesome;
  border: none;
  width: auto;
  height: auto;
  -webkit-transform: none;
          transform: none;
  top: 7px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.stroke_section .nice-select.open:after {
  content: "\f106";
}

/*end stroke section */


/*ckd section*/
/* ckd page check box */

.ckd_section .control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}
.ckd_section .control input {
  position: relative;
  z-index: -1;
  opacity: 0;
}
.ckd_section .control__indicator {
  position: relative;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.ckd_section .control:hover input ~ .control__indicator,
.ckd_section .control input:focus ~ .control__indicator {
  background: #ccc;
}
.ckd_section .control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.ckd_section .control:hover input:not([disabled]):checked ~ .control__indicator,
.ckd_section .control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.ckd_section .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.ckd_section .control__indicator:after {
  content: '';
  position: relative;
  display: none;
}
.ckd_section .control input:checked ~ .control__indicator:after {
  display: block;
}
.ckd_section .control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.ckd_section .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* end of ckd page check box */

.ckd_section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(86, 188, 164, 0.55)), to(rgba(86, 188, 164, 0.55))), url(../images/ckd.jpg);
  background-image: linear-gradient(to right, rgba(86, 188, 164, 0.55), rgba(86, 188, 164, 0.55)), url(../images/ckd.jpg);
  background-size: cover;
  color: #000000;
}

.ckd_section form {
  padding: 35px 45px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
}

.ckd_section form h4 {
  font-weight: 600;
  position: relative;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ckd_section form h4 .design_dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #4bc5b8;
  margin-right: 5px;
}

.ckd_section form label {
  color: #000000;
}

.ckd_section form .form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  background-color: #deece9;
  height: 45px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
  color: #000000;
}

.ckd_section form .form-control::-webkit-input-placeholder {
  color: #000000;
}

.ckd_section form .form-control:-ms-input-placeholder {
  color: #000000;
}

.ckd_section form .form-control::-ms-input-placeholder {
  color: #000000;
}

.ckd_section form .form-control::placeholder {
  color: #000000;
}

.ckd_section form #inputDate {
  color: #56bca4;
}

.ckd_section form #inputDate input {
  color: #000000;
}

.ckd_section form button.btn {
  background-color: #35806e;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.ckd_section .date_icon {
  right: 10px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #56bca4;
}

.ckd_section .nice-select {
  color: #000000 !important;
}

.ckd_section .nice-select:after {
  content: "\f107";
  font-family: FontAwesome;
  border: none;
  width: auto;
  height: auto;
  -webkit-transform: none;
          transform: none;
  top: 7px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ckd_section .nice-select.open:after {
  content: "\f106";
}

/*end ckd section */

