{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="AI TEC, Disease predictor, Health AI, AI TEC disease predictor, Predict disease, 
  disease prediction, AI health prediction, machine learning healthcare, symptom analysis, health risk prediction, 
  medical diagnosis tool, disease forecasting, AI medical tools, predictive healthcare, AI-based diagnosis" />
  <meta name="description" content="AI TEC Web application for predicting diseases: AI-based disease prediction platform to analyze symptoms and predict health risks using machine learning." />
  <meta name="author" content="Mohammad Zakaria Rajabi" />
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

  <title>AI TEC | What is AI?</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'main'%}">
            <h3>
              AI TEC
            </h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'main'%}">Home </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'about_page'%}"> About <span class="sr-only">(current)</span> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service_page'%}"> Services </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutpr_page'%}"> persian language </a>
              </li>
            </ul>
            <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          <span class="design_dot"></span>
          What is AI?
        </h2>
      </div>
      <div class="col-md-7 mx-auto px-0">
        <div class="img-box b2">
          <img src="{% static 'images/aidiss.png' %}" alt="" />
        </div>
      </div>
      </div>
      <div class="col-md-9 mx-auto px-0">
        <div class="detail-box">
          <p>
            AI or Artificial Intelligence refers to the development of computer systems that can perform tasks that typically require human intelligence. These tasks include learning, reasoning, problem-solving, perception, understanding natural language, and speech recognition. AI can be classified into two main types: narrow or weak AI and general or strong AI
          </p>
          <ul>
            <li>This type of AI is designed and trained for a particular task. It is specialized to perform a specific function, such as facial recognition, language translation, or playing chess. Most of the AI applications currently in use fall under the category of narrow AI</li>
            <li> This is a more advanced form of AI that possesses the ability to understand, learn, and apply knowledge across a wide range of tasks at a level comparable to human intelligence. General AI would have cognitive abilities similar to humans, allowing it to adapt and excel in various domains.</li>
          </ul>
          <p>
            Artificial Intelligence, or AI, is like having super-smart computers that can do things on their own. These computers can learn from experience, make decisions, and even understand what we're saying. For example, virtual assistants like Siri or Alexa use AI to chat with us and follow our commands. AI can also look at pictures and videos and figure out what's happening in them. People are working on making sure AI is fair and doesn't accidentally act in a way that's not right, which is called ethics. In healthcare, AI helps doctors by making diagnoses and finding new medicines. The ultimate goal is to create General AI, which means computers that can do lots of different things, just like we do. AI is all around us, from the shows recommended by streaming platforms to self-driving cars that use smart technology to get around. It's exciting, but people are also talking about using AI in ways that are responsible and good for everyone.
          </p>
          <p> Our commitment extends to developing AI-powered diagnostics that can assist healthcare professionals in early detection and intervention, contributing to more effective disease management and improved patient outcomes.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- map section -->

  <section class="map_section">
    <div class="map">
      <div id="googleMap"></div>
    </div>
  </section>

  <!-- end map section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              QUICK LINKS
            </h5>
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'main'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about_page'%}"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service_page'%}"> Services </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutpr_page'%}"> persian language </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_course">
            <h5>
              AI TEC
            </h5>
            <p>
              Our goal at AI TEC is to push the boundaries of AI, developing innovative solutions that translate research into real-world impact across various domains.

            </p>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
              FOR ANY QUERY, PLEASE WRITE TO US
            </h5>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Location : Isfahan, Isfahan Province, Ostad Falaturi st, Pasargad Shopping mall 
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i> info@eclinichub.org
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i> Call : +31 34597406
              </a>
            </div>
            <form action="">
              <input type="text" placeholder="Enter Your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="http://eclinichub.com/">AI TEC Company</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
</body>

</html>